.hidden, .test code.hidden {
    display: none;
}

#launcher {
    margin: 1rem;
}

#tests {
    width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
    border-spacing: 2px;
    border-color: grey;
}

#tests th {
    color: white;
    background-color: grey;
    border-color: #32383e;
}

#tests td, #tests th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    border: 1px solid #dee2e6;
}

.test .state {
    display: inline-block;
}

.test .state:before {
    content: "";
    width: 1rem;
    height: 1rem;
    background: grey;
    display: inline-block;
    border-radius: .5rem;
    margin-right: .5rem;
}

.test .state.pass:before {
    background: green;
}

.test .state.incorrect:before {
    background: orange;
}

.test .state.critical:before {
    background: red;
}

.test code {
    border: solid 1px black;
    padding: .5rem;
    display: block;
}
