<head>
    <meta charset="UTF-8">
    <link href="static/style.css" type="text/css" rel="stylesheet"/>
    <script src="static/script.js"></script>
</head>
<body>
    <h1>Tests Primtux</h1>
    <div id="launcher">
        <button onclick="launchAll()" disabled="disabled">
            Lancer tous les tests
        </button>
    </div>
    <table id="tests">
        <thead>
            <tr>
                <th>Détail</th>
                <th>Etat</th>
                <th>Nom</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for test in TESTS %}
                <tr class="test"
                    id="test{{loop.index}}">
                    <td>
                        <input type="checkbox"
                        disabled="disabled"
                        onclick="showHideDetails(this)">
                    </td>
                    <td><span class="state">Non testé</span></td>
                    <td>
                        <p>{{test.name}}</p>
                        <div class="details hidden">
                            <div class="result hidden">
                                <span>Résultat : </span>
                                <strong></strong>
                            </div>
                            <div>
                                <span>Résultat attendu : </span>
                                <strong class="attemptresult">
                                </strong>
                            </div>
                            <code class="error hidden"></code>
                        </div>
                    </td>
                    <td>
                        <button onclick="launch({{loop.index}})">
                            Lancer
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
